* {
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input[type='number'] {
  -moz-appearance: textfield;
}
body {
  font-family: 'Poppins', sans-serif;
  line-height: 1;
  font-size: 1.6rem;
}
.shoping-bar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2rem;
}
.shoping-title {
  font-size: 3rem;
  color: #333;
  text-transform: uppercase;
}
.shoping-cart {
  font-size: 2rem;
  padding: 1rem;
  cursor: pointer;
}
.product-item {
  display: flex;
  align-items: center;
}
.product-name {
  display: block;
}
.product-price {
  display: block;
  margin-bottom: 1rem;
}
.product-desc {
  margin-left: 2rem;
  width: 33%;
}
.product-count {
  width: 15%;
  text-align: center;
}
