* {
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
image {
  display: block;
  max-width: 100%;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input[type='number'] {
  -moz-appearance: textfield;
}
body {
  font-family: 'Poppins', sans-serif;
  line-height: 1;
  font-size: 1.6rem;
  background-color: #f5f5f5;
}
.shoping {
  padding: 1rem;
  position: relative;
}
.shoping-bar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2rem;
}
.shoping-title {
  font-size: 3rem;
  color: #333;
  text-transform: uppercase;
}
.shoping-cart {
  font-size: 2.5rem;
  cursor: pointer;
  color: #333;
}
.product-list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-left: -1rem;
}
.link {
  display: inline-block;
  margin: 0 2rem;
  font-size: 2rem;
  text-decoration: none;
  padding-bottom: 5px;
  border-bottom: 2px solid transparent;
  transition: all 0.25s linear;
  color: #333;
}
.link:hover {
  border-bottom-color: #45b0ff;
}
.item-content {
  height: calc(100% - 20rem);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.item {
  width: calc(25% - 1rem);
  margin-left: 1rem;
  border: 1px solid #d7e6ff;
  padding: 1rem;
  border-radius: 5px;
  margin-bottom: 2rem;
}
.image {
  width: 100%;
  height: 20rem;
  -o-object-fit: cover;
  object-fit: cover;
  border-radius: inherit;
}
.text {
  text-align: center;
  font-size: 2.5rem;
  margin-bottom: 2rem;
}
.price {
  font-size: 3rem;
  color: #333;
  text-align: center;
  display: block;
  margin-bottom: 1rem;
}
.price span {
  font-size: 2.2rem;
  position: relative;
  top: -5px;
}
.change {
  margin-bottom: 1rem;
  text-align: center;
  margin-top: auto;
}
.count {
  font-size: 2rem;
  padding: 1rem 2rem;
  background-color: #eee;
  border-radius: 1rem;
  display: inline-block;
  margin: 0 1rem;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.add,
.minus {
  padding: 5px;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.order {
  border: 0;
  border-radius: inherit;
  width: 100%;
  padding: 1rem 0;
  font-family: 'Poppins', sans-serif;
  line-height: 1;
  font-size: 1.8rem;
  color: white;
  background-color: #5691ff;
  font-weight: bold;
  cursor: pointer;
  letter-spacing: 2px;
  margin-top: auto;
}

.cart-order {
  width: 30%;
  background-color: #45b0ff;
  padding: 1rem;
  position: fixed;
  top: 10%;
  right: 0;
  border-radius: 5px;
  color: white;
  transform: translateX(100%);
  transition: transform 0.25s linear;
  overflow-y: scroll;
  /* height: 100%; */
}

.cart-order.active {
  transform: translateX(0);
}
.cart-item {
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
}
.cart-item > * {
  margin-right: 2rem;
}
.trash-icon {
  margin-left: auto;
  cursor: pointer;
}
.count-item {
  display: inline-block;
  font-size: 1.4rem;
  margin: 1rem 1.5rem;
}
.add-item,
.minus-item {
  font-size: 1.2rem;
  cursor: pointer;
}
.cart-image {
  width: 7rem;
  height: 10rem;
  -o-object-fit: cover;
  object-fit: cover;
}
.price-item {
  font-size: 1.6rem;
  display: block;
  margin: 1rem 0;
}
.checkout {
  border: 0;
  width: 100%;
  padding: 2rem 0;
  font-family: 'Poppins', sans-serif;
  line-height: 1;
  font-size: 1.8rem;
  margin-top: 2rem;
  cursor: pointer;
}
.total-text {
  font-size: 2rem;
}
.total-all {
  font-size: 1.8rem;
}
@media (max-width: 767px) {
  .item {
    width: calc(50% - 1rem);
  }
}
